[2016-07-09 13:03] rmaspoch opened #1 "Exception during login"
I'm following along the AspNet Core quickstart and I get the following exception while trying to login:

_SecurityTokenInvalidSignatureException: IDX10503: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.X509SecurityKey , KeyId: RTM1NzUzMkJCMDIwRjc5MTQ4MTIyNzU2QTQ4OUI0QkZCOTYxMjIyRg
Microsoft.IdentityModel.Tokens.RsaSecurityKey , KeyId: RTM1NzUzMkJCMDIwRjc5MTQ4MTIyNzU2QTQ4

[2016-07-19 16:19] webbkvalite commented on #1
If you're using a HS256-key, it can be fixed by setting the TokenValidationParameters on the OpenIdConnectOptions.
First turn the clientSecret into a byte[] like so:
            var keyAsBase64 = Configuration["auth0:clientSecret"].Replace('_', '/').Replace('-', '+');
            var keyAsBytes = Convert.FromBase64String(keyAsBase64);
Next add the TokenValidationParameters like so:
TokenValidation

[2016-08-11 22:22] jgoode opened #2 "What version of .Net Core is this Tutorial compatible with?"
Getting lots of package not compatible errors:

 Package Microsoft.DotNet.Cli.Utils 1.0.0-preview2-003121 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Microsoft.DotNet.Cli.Utils 1.0.0-preview2-003121 supports:
      - net451 (.NETFramework,Version=v4.5.1)
      - netstandard1.6 (.NETStandard,Version=v1.6)
    One or more packages are incompatible with .NETCoreApp,Versio

[2016-08-24 12:31] npnelson opened #3 "Cookie Errors During Login"
I think your 01-Login sample is affected by this issue:

https://github.com/aspnet/Announcements/issues/201

More information can be found here:

https://github.com/aspnet/Identity/issues/915

I have been able to reproduce the issue using your 01-Login sample code.  The ASP.NET team fixed their issue with a template fix, but the 01-Login sample is different enough that I can't figure out how to fi

[2016-08-25 09:02] esmondmissen commented on #1
I'm having the same issue with this one. I've just followed the basic login tutorial for .net core. Where am I able to set the TokenValidationParameters? I can't seem to find a reference to it following the tutorial.

[2016-09-03 13:30] npnelson commented on #3
not that anybody is reading this, but after more research, I don't think it is related to the issue I referenced.

[2016-09-04 11:59] hjgraca commented on #1
If you are getting this error it means you haven't changed the settings in the Auth0 dashboard. You need to change `JsonWebToken Signature Algorithm` to use `RS256` under advanced options of your client.

[2016-09-20 09:40] ahouben commented on #3
I'd like to add to this thread, since I also think there is a problem with the `01-Login` sample, the `02-Login-Embedded-Lock` works fine with the same auth0 client configuration, all I did was changing the `appsettings.json` to the same values in both projects (tested on Chrome and Firefox).

Result:
* I get a `400 Bad Request` on the call to `https://greenliff.eu.auth0.com/login/callback?state=<

[2016-09-21 21:19] npnelson commented on #3
Wow!  Thanks for posting that!  I modified my app to work in the style of 02-Login-Embedded-Lock and it seems to work for me too (although it is too early for me to declare complete victory just yet).  It would be nicer if 01-Login worked, but I'll take a working 02-Login-Embedded-Lock over what 01-Login is currently doing.

[2016-09-21 21:50] npnelson commented on #3
Looks like I spoke too soon, I still get some cookie errors using Embedded Lock, not sure if they are less frequent or happen under different circumstances.

[2016-09-21 22:15] npnelson commented on #3
hmmm..Sorry to keep blasting this issue.  I realized I had my signout url misconfigured for my application in auth0.  Once I fixed that, things seemed to improve.

[2016-09-22 04:01] jerriep commented on #3
Sorry for not responding. This issue slipped past me :(

The problem appears to be that everytime the OIDC flow initiates, a nonce and correlation cookie gets stored. Problem is that when the OIDC flow does not complete successfully (because the browser's back button was clicked), then those cookies are not cleared.

So now if you do it a few times those cookies build up over time, and eventually

[2016-09-22 04:25] jerriep commented on #3
Hey @npnelson and @ahouben

I have tested this in Chrome and Edge using the 01 - Login sample

I have gone through the login process about 50 times and did not get an error once.

Is there any way you have a reproducible sample which will fail every time give a certain set of circumstances?

[2016-09-22 10:29] ahouben commented on #3
Hi @jerriep, I've set up a reproducible environment at https://greenlifftest.azurewebsites.net/ which deterministically failes for me using Chrome and Firefox (latest for both), but works perfectly with IE and Edge.

The deployment is an instance from the `01-Login` sample solution with the only changes being (`git diff -p`):

[code]

For you to test, the auth0 client set up is:
* Social identity

[2016-09-22 12:22] npnelson commented on #3
Also, @jerriep, I have had Auth0 support ticket #12340 open for a while now.  Your support engineers have been able to reproduce this as well. I was able to reproduce it with 01-Login against Azure Active Directory, but I think your support team reproduced it with Google as a provider.

Thanks for looking into this!

[2016-09-22 22:20] npnelson commented on #3
Another update:  I've been told by support that they have a new branch of server side code that might help mitigate this issue, so if @jerriep is running on that new branch, that might be why he can't reproduce it.

I'm also told that as early as some time today, customers will be able to switch themselves to the new branch in the advanced dashboard (note I just checked and I don't see the feature

[2016-09-23 00:48] jerriep commented on #3
Damn, I got it failing once but could not get it to fail again to try and
see what is happening. I will try again later during the day.

Please switch to the new branch when available, and let me know how that
goes

On Fri, Sep 23, 2016 at 5:20 AM, Nicholas P Nelson <notifications@github.com

[2016-09-23 12:37] npnelson commented on #3
I just switched the OAuth2 as a Service (preview) option on in the advanced settings (note to switch it on, you have to enable the Change Password v2 flow if that option is available before you can enable OAuth2 as a Service).

So far, so good, but it has only been an hour.  I will know more once is has been in use a little longer

[2016-09-23 14:04] ahouben commented on #3
The problem is related to browser cookie size limits.

tl;dr The auth0 backend at some point returns an `auth0` cookie of size > 4096 which is silently ignored by Chrome and Firefox but still accepted by IE and Edge (due to different limitations for the allowed cookie size). This eventually results in the `Oops!, something went wrong` page.

Details:
The following workflow is run from an incognito

[2016-09-23 14:25] ahouben commented on #3
@jerriep I see your login attempts on `https://greenlifftest.azurewebsites.net/` in `https://manage.auth0.com/#/logs`. If you only got it to fail once this indicates that our browser allows for larger cookies than Chrome and Firefox (what does http://browsercookielimits.squawky.net/ say?)

[2016-09-23 14:30] npnelson commented on #3
@ahouben First, thanks for the awesome post.  Second, I just wanted to report that so far, so good on enabling the **"OAuth2 as a Service (preview)"** option in the advanced account settings on auth0.  I can't speak for exactly what OAuth2 as a Service does, but I am pretty sure they took steps to reduce the size of the auth0 cookie (the preview may include other things too, I'm not sure).

My use

[2016-09-23 14:51] ahouben commented on #3
@npnelson I just enabled "OAuth2 as a Service" and tried again. Unfortunately, the behavior is exactly the same as the aforementioned workflow using Google as the identity provider.

I can confirm that when using the Username-Password-Authentication login method the `auth0` cookie size is only 2616 bytes, so the second and all other subsequent logins succeed.

So the `auth0` cookie size seems to d

[2016-09-23 15:15] ahouben commented on #3
The Twitter provider works fine, but is close to the limits (`auth0` cookie size 4088 bytes).

So, Google and Azure Active Directory (reported by @npnelson) seem to exceed the cookie limitations, maybe only in certain circumstances.

Cookie splitting and reassembly would solve it for all providers.

[2016-09-23 16:14] npnelson commented on #3
Just to prevent a possible painful lesson for anyone who comes across this thread in the future - most mobile browsers can only store around 8K of cookies per site.

https://github.com/aspnet/Security/issues/614#issuecomment-220375007

It might not relevant for this case, because 8K is probably enough, but still something to keep an eye on, especially if you pull down "openid profile" for some pro

[2016-09-23 17:01] nicosabena commented on #3
@ahouben Did you check if the **OAuth as a Service (Preview)** toggle stayed **on**? There is a subtle bug that causes the value not to change if you don't have the **Password Flow v2** enabled.

[2016-09-23 17:22] ahouben commented on #3
@nicosabena Once I enabled **OAuth as a Service (Preview)** it didn't go back. The **Password Flow v2** was already enabled (probably when I created the auth0 account, I cannot remember changing or touching it):

![auth0](https://cloud.githubusercontent.com/assets/2446666/18795082/0f301bc8-81c3-11e6-8088-355ce1ae8a21.png)

[2016-09-26 01:28] jerriep commented on #3
@ahouben @npnelson This issue seems not related to the ASP.NET Core integration or middleware, but rather between Auth0's server and the Identity Provider (Google in this case). I am going to ask that you please move this over to the support ticket already open, as it can be best managed by the product team on that side.

@nicosabena Can you please help and ensure that their ticket(s) get attentio

[2016-09-26 01:51] jerriep commented on #3
@ahouben Sorry, looking at your screenshots again, it seems the issue may be on the ASP.NET side for you. You ASP.NET Cookies seem quite large. Any idea why?

as for

This is related to the correlation and nonce cookies. If you start an OIDC flow and then press Back in the browser, and then start a new OIDC flow, you will see new nonce and correlation cookies being created.

It was refered to as "

[2016-09-26 02:14] jerriep commented on #3
@ahouben Tested again. Sorry for the back-and-forth. The issue is on the Auth0 side, and not an ASP.NET problem. Do you have a ticket in Zendesk open by any chance?

[2016-09-26 10:57] ahouben commented on #3
@jerriep Thanks for following up. I've created ticket https://support.auth0.com/tickets/15036 in your support database and referenced this github issue and the ticket from @npnelson #12340 further up this thread (which I cannot view: Forbidden).

[2016-10-20 20:02] wags opened #5 "Clarify when UseOpenIdConnectAuthentication is required"
Hi,

The app I'm working on is most similar to the `03-Login-Custom` example in this repo. I am using only my company's Active Directory (via the Auth0 AD Connector) for authentication, no social logins or anything.

Looking at `Startup.cs`, I'm not sure if I need the following code:

In `Configure`:

[code]

(I am still using the cookie middleware.)

I am trying to streamline the auth for clarity

[2016-10-21 14:19] wags commented on #5
I noticed that omitting the OIDC middleware seems to cause other issues. For example, login times are very slow and sometimes time out. Everything performs more reliably when using both the OIDC and cookie middleware.

[2016-10-22 13:42] Amialc opened #6 "outdated lock"
(AUTH-3496)
02-Login-Embedded-Lock use outdated version of auth0 lock library.
Potential fix https://github.com/auth0-samples/auth0-aspnetcore-sample/pull/4

[2016-10-22 13:53] Amialc opened #7 "note about HS256/RS256"
Need to add note if user using HS256 key, as described [here](https://github.com/auth0-samples/auth0-aspnetcore-sample/issues/1#issuecomment-233686450). (AUTH-3499)

[2016-10-31 14:44] alatchi commented on #1
Thank you very much.
This fix the error.
I've changed from HmacSha256Signature to RsacSha256Signature.

[2016-11-06 13:09] sethlivingston opened #9 "services.Configure<Auth0Settings> error: Add reference to Microsoft.Extensions.Options.ConfigurationExtensions"
Per https://github.com/aspnet/Announcements/issues/180.

Adding this to project.json resolves the error on this line in Startup.cs:

    services.Configure<Auth0Settings>(Configuration.GetSection("Auth0"));

[2016-11-25 08:16] #6 closed

[2016-12-04 13:32] billennium opened #10 "Unable to unprotect the message.State"
I'm trying to log in into the sample app (01-Login) using Microsoft Account provider. I've entered my app's domain, client id and secret, but after signing in, when redirect to http://localhost:5000/signin-auth0 happens, I heep getting error saying: System.Exception: Unable to unprotect the message.State.

[2016-12-04 17:13] billennium commented on #10
Looks like my social connection settings were incorrect. After fixing tchem everything works fine.

[2016-12-04 17:13] #10 closed

[2017-01-24 14:01] #7 closed

[2017-01-24 14:19] Amialc opened #11 "outdated dependencies"
Dependencies such as auth0-lock, `Microsoft.NETCore.App`, `Microsoft.AspNetCore.Mvc` and others are outdated. (AUTH-3723)

[2017-01-29 03:49] aniltan opened #12 "I don't have a name claim in .net core User Profile code."
I've been following the sample for .net core, but in User Profile step, I don't have name in the claim, so I can't show it on the UI. Am I missing anything?

[2017-02-15 14:47] nicosabena commented on #5
The OIDC middleware is used by the application to interact with Auth0 (request an authentication, get the user profile, etc), regardless of what connections you enable on Auth0's side for that particular application.
Your app sees a single OIDC provider (Auth0), which in turns act as a broker to other identity providers, with possibly different protocols (like OAuth, LDAP, SAMLP).

[2017-02-15 14:47] #5 closed

[2017-02-23 04:49] jerriep commented on #12
What scopes are you requesting? You need to either add the `profile` scope (in which case you will get the entire profile), or be more specific and add just the `name` scope.

Please see these lines:
https://github.com/auth0-samples/auth0-aspnetcore-sample/blob/master/05-User-Profile/SampleMvcApp/Startup.cs#L155-L159

[2017-02-23 04:55] #1 closed

[2017-02-28 23:55] jerriep commented on #12
@aniltan I am closing this issue, since setting the correct `scope` should sort you out. If you still have an issue, please let me know.

[2017-02-28 23:55] #12 closed

[2017-03-01 01:36] #11 closed

[2017-03-01 01:38] jerriep commented on #9
Closed in 83ae5c8b117da5113cdbf7af4cdd522bf5b3448b

[2017-03-01 01:38] #9 closed

[2017-03-02 17:05] adriatic opened #16 "Problem with Logout in sample 01-Login in VS2017 branch"
Running the sample with Visual Studio 2017 RC, click on Logout results with:

![image](https://cloud.githubusercontent.com/assets/2712405/23517730/2e370a8c-ff3f-11e6-9321-2ef45b9dc575.png)

The details on this problem are:
[code]

This claim is not correct - here is my relevant settings screenshot:

![image](https://cloud.githubusercontent.com/assets/2712405/23517846/9410c2a8-ff3f-11e6-94fc-7ec686

[2017-03-02 17:12] adriatic opened #17 "VS 2017 versions of this sample collection"
It seems that only the 01-Login sample was converted, so I would much prefer to not race with Jerrie who will to the others first and wait until Jerrie declares them done.

Since time is of issue to me and I really care about `user profiles`, `rules` and `authorization`, I might be forced to try to convert them myself if Jerrie's schedule is beyond my time limit :-)

[2017-03-02 17:38] adriatic commented on #16
This same sample works fine if I replace the current async handling of the logout even with the code that is still used in the original text on the **[quick start](https://manage.auth0.com/#/clients/kiiH4xCOeCmzFulls4Nv04WdknSMv7VO/quickstart)** page.

[2017-03-02 22:28] jerriep commented on #17
Vs2017 samples will be done after VS2017 is released - which is next week.

[2017-03-02 22:40] jerriep commented on #16
You need to add the URL which your are passing in the `RedirectUri` to the **Allowed Logout URLs** textbox of your Client in the Auth0 Dashboard.

Thank you for pointing this out. I will update the quickstarts appropriately

[2017-03-02 22:40] #16 closed

[2017-03-02 23:03] adriatic commented on #17
Good. I am currently trying all samples using the already converted 01-Login as the "template", so I can verify the use of Auth0 in my app

[2017-03-02 23:10] adriatic commented on #16
Is there a clear benefit of using this async version **`public async Task Logout()`** (which requires the **[event processing code](https://github.com/auth0-samples/auth0-aspnetcore-sample/blob/vs2017/01-Login/SampleMvcApp/Startup.cs#L96-L120)**), when compared with just

[code]

[2017-03-02 23:22] adriatic commented on #16
Verified [your explanation above](https://github.com/auth0-samples/auth0-aspnetcore-sample/issues/16#issuecomment-283806303) - of course that this was the problem 😏

[2017-03-03 00:10] jerriep commented on #16
Hmmm, I am not sure whether there is a clear benefit. The way it is currently set up, Auth0 will redirect to whichever URL after the user has signed out. That requires a bit more work with the event handler code.

It is also however acceptable (I believe) to just let the application redirect - as was the case with the initial code.

[2017-03-03 00:47] jerriep commented on #16
@adriatic Actually Nico just reminded me that in the way the code was before (i.e. the way it is currently in the quickstarts), the user was never logged actually out of Auth0 at all.

So the new way of doing it is definitely the correct way.

[2017-03-03 04:07] adriatic commented on #16
Interesting observation (it would really worry me to find that out in my app).

I am using the async logout now and it works fine.

[2017-03-07 03:08] adriatic commented on #17
@jerriep assuming that this data will help in getting this new code running:

Adding the **[Auth0 Setting object](https://github.com/auth0-samples/auth0-aspnetcore-sample/blob/vs2017/01-Login/SampleMvcApp/Startup.cs#L44)** line fails with error message shown below

![image](https://cloud.githubusercontent.com/assets/2712405/23640034/f17e262a-02b8-11e7-8fc6-f4bb84f4e8fa.png)

This used to work very

[2017-03-07 03:15] jerriep commented on #17
@adriatic Can you please check out the VS2017 branch:
https://github.com/auth0-samples/auth0-aspnetcore-sample/tree/vs2017

It contains full working copies of all the quickstart samples converted to VS2017. I tested this and all of them worked.

[2017-03-07 03:24] adriatic commented on #17
@jerriep - the code I just pointed to is from the VS2017 branch (I would not make such rookie's mistake to bug you with trivialities) - see https://github.com/auth0-samples/auth0-aspnetcore-sample/blob/vs2017/01-Login/SampleMvcApp/Startup.cs#L44

The only way we could both be right is that your **[SampleMvcApp.csproj](https://github.com/auth0-samples/auth0-aspnetcore-sample/blob/vs2017/01-Login/Sa

[2017-03-07 03:45] jerriep commented on #17
@adriatic Thank you. I will leave this for now. After VS2017 is finally released tomorrow I will do a check once again to ensure everything. At this point we are working with pre-release software, so inconsistencies can creep in.

Also, I will be traveling this week, which means I will most likely only be able to ensure all is working at the beginning of this week.

Apologies for the inconvenience

[2017-03-07 03:49] adriatic commented on #17
No inconvenience at all - as I would rather use the most recent dotnet core than to downgrade my app to the version numbers that work for you. I really appreciate your readiness to help - thank you!!

This article might be of some help as well http://www.strathweb.com/2016/09/strongly-typed-configuration-in-asp-net-core-without-ioptionst/

It's almost midnight here, so I will look into that tomorr

[2017-03-07 04:03] jerriep commented on #17
@adriatic I do not know what to tell you about this error.

I updated the **01-Login** project to all the latest NuGet packages just now (including `Microsoft.Extensions.Configuration" Version="1.1.1"`) and I do not get the error you are getting.

When you get errors like these, please share your project with us, as it is impossible for us to try and track down the issue from screenshots alone.

T

[2017-03-12 21:39] adriatic opened #18 "Suggestion for improving the quick start samples docs"
___I will limit this to the scope of the **[01-Login](https://github.com/auth0-samples/auth0-aspnetcore-sample/tree/vs2017/01-Login)** sample, although my suggestion should affect all samples.___
***

The section describing how to **[Add Login and Logout Links](https://auth0.com/docs/quickstart/webapp/aspnet-core/01-login#add-login-and-logout-methods)** describes the code for the **[AccountControl

[2017-03-12 22:38] adriatic commented on #18
The information in http://benfoster.io/blog/aspnet-core-multi-tenant-middleware-pipelines might be used as the inspiration for the additional explanations I am hoping for.

I am not being lazy to create a PR as Nico suggested; instead, there ought to be more experienced Auth0 folks that are also talented writers to describe what is happening here.

[2017-03-13 02:38] jerriep commented on #18
@adriatic

**http://localhost:60856** or **http://localhost:8000** would be the URL for your application. The path **signin-auth0** is the path on which the OIDC middleware listens for the callback from Auth0. This is specified when you register the OIDC middleware:
https://github.com/auth0-samples/auth0-aspnetcore-sample/blob/master/01-Login/SampleMvcApp/Startup.cs#L91

The flow is as follows:
1.

[2017-03-13 02:56] adriatic commented on #18
Thanks, @jerriep 😄

Your statement

https://github.com/auth0-samples/auth0-aspnetcore-sample/blob/master/01-Login/SampleMvcApp/Startup.cs#L91

is really the explanation that I was looking for. In all seriousness, I could have realized this without asking, as I looked at the code for setting OIDC middleware **many times more than once**, so it seems that I did not trigger on

[code]

In other words

[2017-03-13 03:37] #18 closed

[2017-03-21 01:55] adriatic opened #19 "Parallels and differences between two sample sets"
I am looking at [auth0-aspnetcore-sample](https://github.com/auth0-samples/auth0-aspnetcore-sample) and [auth0-aspnetcore-webapi-sample](https://github.com/auth0-samples/auth0-aspnetcore-webapi-sample) and trying to figure the reason that both of them exists.

Being **very familiar** with the first set ([auth0-aspnetcore-sample](https://github.com/auth0-samples/auth0-aspnetcore-sample)) and not at

[2017-03-21 02:16] jerriep commented on #19
@adriatic Yes, you figured it out :)

https://github.com/auth0-samples/auth0-aspnetcore-sample is for a normal ASP.NET MVC application, and shows how to add authentication to your app.

https://github.com/auth0-samples/auth0-aspnetcore-webapi-sample shows how to add authentication with JSON Web Tokens to an API.

Both these samples are not really meant to be explanatory by themselves. They are ins

[2017-03-21 02:16] #19 closed

[2017-03-21 02:28] adriatic commented on #19
My intent (then getting your confirmation about my guesses) was to suggest a significant improvement over the existing tutorials - as you have a good writing talent paralleled with good understanding of the subject you are describing. So, I will restate my sentence from [above](https://github.com/auth0-samples/auth0-aspnetcore-sample/issues/19#issue-215606649):

Note that "you" in this context is

[2017-03-21 02:32] adriatic commented on #19
Also a comment on

 - https://auth0.com/docs/quickstart/webapp/aspnet-core
 - https://auth0.com/docs/quickstart/backend/aspnet-core-webapi

I am indeed aware of this - my point was to indicate a need for some global (relative to all sample collection) document that states what you just explained to me, probably with more meat on the bones

[2017-03-21 02:38] jerriep commented on #19
The fact that there are no "full stack" samples is a problem. AFAIK we are looking into providing end-to-end samples at some point, so everyone is aware of this shortcoming.

As you, I am personally also frustrated with this, and have planned some personal open source side projects which will hopefully assist others in understanding how to put a full application together from end to end.

If you w

[2017-03-21 02:43] adriatic commented on #19
Consider joining our team in the [carmel](https://github.com/aurelia-ui-toolkits/carmel) project which is a perfect opportunity for both of us. Note that we have a "special relationship" with Auth0 that gave us a free OSS license and our goal is to introduce Auth0 as the preferred provider to the whole community.

[2017-03-21 02:43] jerriep commented on #19
Just a quick further note on the end-to-end samples: You also need to understand that every customer's need are different, so it will be difficult to provide samples that everyone can use. In your case for example you would probably like to see a full sample with Aurelia as the SPA, but in reality Aurelia is not much used. So if we do put end-to-end samples together it likely will be for a more "p

[2017-03-21 02:46] jerriep commented on #19
Thanks for the offer of joining your project, but I have already started on some of my own projects for things which I actually require (see http://www.jerriepelser.com/blog/new-project-geotoast/), so I have no capacity to join other projects at this stage. Feel free to ping me when you have questions however.

[2017-03-21 03:25] adriatic commented on #19
Please reconsider your decision to use Vue and use Aurelia. You will be glad!

[2017-03-21 16:04] adriatic commented on #19
@jerriep

I really appreciate this 😄

[2017-03-22 01:21] adriatic commented on #17
I believe that this issue can be closed as the current set of samples that are written for Visual Studio usage work fine with VS 2017 (at least the dotnet core subset)

[2017-03-22 01:36] #17 closed

[2017-03-22 02:05] adriatic opened #20 "Creating a compatible pair that illustrates the Auth0 support full stack example"
As I offered my help with this topic (and did not find a strong resistance to this idea), I would like to start with making sure that **[ASP.NET Core Web API Authentication](https://auth0.com/docs/quickstart/backend/aspnet-core-webapi)** can be used in conjunction with a few SPA samples (**[Aurelia](https://auth0.com/docs/quickstart/spa/aurelia)** and **[Javascript](https://auth0.com/docs/quicksta

[2017-03-22 02:55] jerriep commented on #20
This is true. There are more complete quickstarts which are not published at the moment, because they are part of the OIDC-conformant work we are releasing. These will be published sometime in the coming weeks hopefully.

The Aurelia SPA sample is "community maintained". Meaning it is up to the community to update these. I believe there is no commitment from Auth0 to keep these up to date. If you

[2017-03-22 03:23] adriatic commented on #20
I am aware of this and know the guy who created this sample (Ryan). My point though is more of a policy one than a practical one - as I want to maintain the Auth0 "image" meaning that Auth0 management ought to set some standards for community contribution. This I know really well, as I am working without pay for last 26 months on Aurelia community contributions, more than full time, never using th

[2017-05-09 19:27] ranouf opened #22 "Can t loggin with google"
I downloaded the app from:
https://auth0.com/docs/quickstart/webapp/aspnet-core/02-login-custom

My Google Settings are correctly configured in the Auth 0 Dashboard Settings

this is the error i have after google login:
SecurityTokenInvalidSignatureException: IDX10503: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.X509SecurityKey , KeyId: XXFCNkFBRDAyMUY2ODZBQjEwOEMxNUJB

[2017-05-10 01:44] jerriep commented on #22
Your OIDC middleware is configured to work with RS256 tokens, but your tokens are signed using HS256.

You have 2 options:

1. **Change your JWT Signature algorithm to RS256 (recommended)**. To do this go to your Client settings in the Auth0 Dashboard, click _Show Advanced Settings_, and go the _OAuth_ tab. Set _JsonWebToken Signature Algorithm_ to **RS256**. Save your settings.

2. **Change your

[2017-05-10 01:44] #22 closed

[2017-05-10 05:01] Haleni888 opened #23 "Overriding The Name ClaimType"
Referring to the [User Profile Quick Start](https://auth0.com/docs/quickstart/webapp/aspnet-core/04-user-profile),
It is possible to override the default Name ClaimType of .net core security claims (http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name) so that _User.Identity.Name_ will retrieve name claim without the need to add this claim in the _Ticket Received_ event:

`var options = new

[2017-05-10 06:59] jerriep commented on #23
Thank you for notifying me of this @Haleni888 !

I will look into this and update our quickstarts and sample applications appropriately :)

[2017-05-10 13:55] ranouf commented on #22
Yes, you are true! Thank for your response :)

[2017-05-30 06:43] #23 closed

[2017-06-08 04:40] decapo01 opened #24 "Where is the User data stored after a successful login?"
This is more of a question than an issue.

Sorry for my ignorance, I've completed the cutsom login sample and it works fine.  However with I check for session data I don't see anything.  I have my session set up with redis and there is also not anything in redis.  Where is this user data stored after a successfull login?  I updated the SaveTokens to true and I still don't see anything in my sessio

[2017-06-08 06:27] jerriep commented on #24
The user information is stored in a cookie. I do not believe anything is stored is session information on the server, unless you specifically do this.

Not sure whether the actual tokens are also stored in the cookie, as I have not tested this.

[2017-06-09 00:53] decapo01 commented on #24
I just learned a bit more about json web tokens.  It appears the server just has the secret key that is used to verify the signature of the token that is sent in the http request.  The server uses the secret key to determine if the token sent is authentic.  You could just store all the information about the user in the token and I think there appears to be no need for session data unless you reall

[2017-06-09 01:40] jerriep commented on #24
I am a bit confused as to what sort of application you are building. From your first question it sounds like you are building a web application, but then on the second one you talk about a token being sent in the HTTP request - which makes me think you are talking about an API because in that case the token (JWT) gets sent with each request.

Can you please clarify what exactly you are talking abo

[2017-06-09 01:48] decapo01 commented on #24
It is a normal MVC app.  I'm going through the get started part now and this is how I believed authentication is working.  After login a cookie is created and sent to the browser.  The cookie in the browser is a JWT and is sent to the MVC application on every request.  The application uses it's secret key to decode the JWT to authenticate it.  One can store data in the JWT instead of in a session

[2017-06-09 06:03] jerriep commented on #24
The data in the cookie is not a JWT (to my knowledge).

What happens is that the OIDC middleware authenticates the user with Auth0. Auth0 will return the user information inside an `id_token` - which is a JWT. The OIDC middleware will then take the claims inside the `id_token` and creates a [ClaimsPrincipal](https://msdn.microsoft.com/en-us/library/system.security.claims.claimsprincipal(v=vs.110).

[2017-06-09 06:03] #24 closed

[2017-06-17 03:35] adriatic commented on #20
@chenkie
@jerriep - **[three months ago](https://github.com/auth0-samples/auth0-aspnetcore-mvc-samples/issues/20#issuecomment-288283766)** you wrote:

I looked around a lot and while I am finding a lot of new OIDC-conformant samples rewrite, I did not find that complete quick start that would describe the complete interaction between this SPA **[written by Ryan](https://github.com/auth0-community/

[2017-06-19 03:08] jerriep commented on #20
@adriatic The newly published [SPA + API Architecture document](https://auth0.com/docs/architecture-scenarios/application/spa-api) demonstrates how to build an end-to-end application using an Angular frontend with a Nodejs backend.

I shows how to configure the secure using JWTs, as well as how to authenticate the user in Angular, store the tokens, and then pass the `access_token` when making call

[2017-06-19 03:12] jerriep commented on #20
As a side note, I am busy creating a little sample app using Angular+ASP.NET Core as well:
https://github.com/jerriep/remote-map

This is however in my personal capacity, as I am - same as you - trying to understand how to put all the pieces together.

Hopefully once the app is done, I will provide some basic implementation docs around this sample. This is however a personal endeavour, so it will

[2017-06-19 12:55] adriatic commented on #20
@jerriep
Thanks for both notes - this is going to be very helpful, very soon. I will stay in touch, of course.

[2017-08-04 07:02] openidauthority opened #26 "Authentication cookie settings in samples are insecure"
The settings for the CookieAuthentication middleware are fine for demo purposes, but in the real world would make applications susceptible to cookie theft and session hijacking. Developers use these samples as a guide for configuring real applications, so it would be good to include a note or warning. Perhaps something along these lines would work:
[code]

[2017-08-04 10:22] Amialc opened #27 "seed projects doesn't provide audience parameter"
(AUTH-4179)
Quickstart samples doesn't provide audience parameter in authentication call.

[2017-10-06 16:03] nicky-iliev opened #29 "InvalidOperationException: No authenticationScheme was specified, and there was no DefaultChallengeScheme found."
Thank you for the great ASP.NET MVC sample using the latest .net core framework netcoreapp2

However, I see an issue when running the silent-auth sample. When I try to access the [site]/account/claims there is an exception "InvalidOperationException: No authenticationScheme was specified, and there was no DefaultChallengeScheme found."

Please note I am not logged in.

[2017-10-09 03:12] #29 closed

[2017-11-07 03:33] jerriep commented on #3
@ahouben Whatever happened to this? Was your problem eventually resolved?

[2017-11-07 03:37] jerriep commented on #20
@adriatic I am closing this, as the purpose of the quickstarts are not to provide end-to-end samples. For that, one has to look at the [Architecture Scenarios](https://auth0.com/docs/architecture-scenarios).

Also, AFAIK there is work which will be done at some point which will allow any front-end quickstart sample (Mobile or SPA) to work out of the box with any backend sample.

[2017-11-07 03:37] #20 closed

[2017-11-20 05:00] jerriep commented on #3
I am closing this issue. If this is still a problem please re-open

[2017-11-20 05:00] #3 closed

[2017-11-20 05:42] jerriep commented on #26
@openidauthority By default `CookieHttpOnly` is set to `true`

As for `CookieSecure`, the default samples are not configured for HTTPS, so this is not really relevant - unless ofcourse the developer goes an enables HTTPS for the website. But I am assuming that in this case they will go through the process of configuring the cookies correctly as well.

I do understand your concern, but once we star

[2017-11-20 08:30] ahouben commented on #3
We mostly used the Database-Connection user store from auth0.com and therefore didn't run into this issue lately. I never verified whether the issue was resolved in the meantime.

[2017-11-20 11:47] aaguiarz commented on #27
We decided that we don't need to use the audience for the asp.net core one.

[2017-11-20 11:47] #27 closed

[2017-11-29 15:26] HeikerAraujo opened #32 "WebApp ASP.net Core: Security Warning received from firefox browser."
After click in the "LOG IN" button, using firefox browser, a security warning is received.

![image](https://user-images.githubusercontent.com/26749061/33382801-1620d74a-d4f8-11e7-81ea-655e004823a2.png)

Firefox version:

![image](https://user-images.githubusercontent.com/26749061/33382832-25f650b4-d4f8-11e7-924d-4335c26bf563.png)

[2017-11-29 23:33] jerriep commented on #32
@HeikerAraujo Same as before.... Can you please be a bit more clear as to what sample app it is you were running? Or how you got this log in screen?

There are are many samples in this repository. I cannot help you if you are not specific about what sample it is you were running, and what the steps are you followed.

[2017-12-05 11:55] jerriep commented on #26
Closing this issue. If you have any more feedback to give on this feel free to comment

[2017-12-05 11:55] #26 closed

[2018-01-08 08:24] jerriep commented on #32
No feedback from user. Closing issue

[2018-01-08 08:24] #32 closed

[2018-02-23 21:50] kinetiq commented on #29
This helped me in my ASP.NET Core 2 project... However, after I make this change I get new errors when I use the login/logout methods on the quickstart account controller.

**For login I get:**

InvalidOperationException: No authentication handler is configured to handle the scheme: Auth0

It is failing on this line:

`await HttpContext.ChallengeAsync("Auth0", new AuthenticationProperties() { Redi

[2018-02-24 02:19] jerriep commented on #29
Did you specify "Auth0" as the authentication scheme when registering the OIDC middleware?

https://github.com/auth0-samples/auth0-aspnetcore-mvc-samples/blob/22acfe8f788e53ba7c54897881094deef45765f4/Quickstart/01-Login/SampleMvcApp/Startup.cs#L35

[2018-02-24 14:35] kinetiq commented on #29
Hey Jerrie, I figured this out. My problem was that one of the schemes at the top used OpenIdAuthenticationDefaults instead of Cookie... I am not sure how that happened. Thanks!

[2018-04-04 22:27] strich opened #33 "How can this be extended to user registration/sign up?"
Whilst the samples provided a concise, I am unsure how to proceed in right a real world application that typically begins with user sign-up / registration, where they can supply application specific information. How does one begin to extend these examples?

[2018-04-05 00:49] jerriep commented on #33
@strich The Lock widget, which is displayed for login in these samples, also act as a signup widget. So you use the exact flow in these samples for user sign-up. Maybe just change the link from **Login** to **Login / Sign Up**.

Once the Lock widget displays, the user then has the option to click on the **Signup** tab of the Lock widget. To your application it is irrelevant whether the user has lo

[2018-04-05 00:49] #33 closed

[2018-05-25 13:41] kinetiq opened #35 "Intermittent Correlation Failed Errors"
I am seeing intermittent Correlation Failed errors in production. The code we're using comes straight out of these  ASP.NET Core 2 quickstart samples.

For the most part, this happens in Chrome, although I also saw it in Safari once. To reproduce this, when I go to my site after several hours (maybe a whole day?) of inactivity, It shows the "you last logged in with..." dialog, and then when I clic

[2018-05-28 00:33] jerriep commented on #35
@kinetiq I am not sure that I am in a position to sort this one out. It can be either in the ASP.NET Core middleware, or on the Auth0 authentication side - neither of which I have control over.

I have limited access to the Auth0 engineering teams, but I will ping them to see if this looks somehow familiar to them.

Will keep you updated...

[2018-05-28 00:35] jerriep commented on #35
@kinetiq BTW, could you also please look through these and see if any of those describe your scenario?
https://github.com/aspnet/security/issues?utf8=%E2%9C%93&q=Correlation+Failed

[2018-05-28 01:28] jerriep commented on #35
@kinetiq Sorry to do this to you, but I have been asked that you raise this issue through the proper support channels as you would be better supported there. Depending on your subscription, this means working either through the [Support Center](https://support.auth0.com/) or the [Auth0 Community](https://community.auth0.com/).

Still, my first suggestion would be to look through the issues on the

[2018-05-28 01:28] #35 closed

[2018-05-28 13:39] kinetiq commented on #35
I haven't found anything in the Security repo that seems like the same thing, or perhaps I simply haven't peered deeply enough into the OIDC darkness. But I don't want to do that right now, I have very simple security needs. I suppose I have to consider trying to switch this project back to identity. I will try the support channels first. Thanks for trying.

[2018-06-08 21:42] BenHayat opened #37 "ASP.Net Core 2.1 support?"
Hi;

When will you upgrade the samples and docs to the new version of .Net Core 2.1?
Thanks!

..Ben

[2018-06-08 23:50] jerriep commented on #37
There are PRs that I am waiting for to be merged:
https://github.com/auth0/docs/pull/6237

There are however no major changes (nothing like from 1.1 to 2.0), so you can follow the quickstarts with 2.1 and it will work as well.

[2018-06-08 23:50] #37 closed

[2018-06-08 23:54] BenHayat commented on #37
Thanks!

[2018-06-12 19:54] BrianVallelunga commented on #35
@kinetiq  I'm starting to get this too. Did you get a resolution?

[2018-06-12 21:02] kinetiq commented on #35
@BrianVallelunga No resolution after two weeks. Not even a response! It seemed like @jerriep was interested in helping, but community support is giving me a really bad impression... Was going to recommend that we switch to a paid account, but if I can't get it to work, I'm afraid it will make me look bad. I will have no choice but to abandon Auth0 soon if I can't get help.

You can see my thread h

[2018-06-13 14:41] aaguiarz commented on #35
Maybe it's related to having Fiddler ON while developing?

https://github.com/IdentityServer/IdentityServer4/issues/1251#issuecomment-353660346

[2018-06-13 14:41] aaguiarz commented on #35
Or this issue https://github.com/IdentityServer/IdentityServer4/issues/1251#issuecomment-363274043?

[2018-06-13 15:30] kinetiq commented on #35
@aaguiarz  Thank you for the reply... These links are not related as far as I can tell.

I just double checked and confirmed that I do not have the fiddler chrome extension installed, nor did I run the fiddler desktop app any time this error occurred.

As for the identity server issue you linked to, I did see that during my prior desperate flailing (along with every other related issue on github),

[2018-06-13 23:32] jerriep commented on #35
You may also look into this:
https://www.kevindockx.com/solving-correlation-failed-state-property-not-found-errors-openid-connect-middleware-asp-net-core/

If not exactly the same, you may try turning on detailed logging and stepping into the source like they did and see whether that enables you to better track it down?

[2018-06-14 01:48] kinetiq commented on #35
@jerriep

In this case there's probably a load balancer since this is hosted in Azure... It's worth a try.

Do you think they would dive into the HAR and resolve this if I signed up for a paid account? Trying to figure out if it's worth continuing. Thanks :)

[2018-06-14 02:05] jerriep commented on #35
@kinetiq As I am not an Auth0 employee I am not really able to answer that question for you. To my understanding, paid customers have access to the support team (as opposed to just the community support website), so you likely will be better served if you have a paid account.

But I am honestly not in a position to make promises to you as to whether getting a paid account will resolve your support

[2018-06-14 02:30] aaguiarz commented on #35
@kinetiq We looked at the HAR file, but it did not help.

If you have a paid account you can submit support tickets, and have an SLA. That does not mean they'll be able to reproduce/understand/tell you how to fix the issue.

The way the login flow works is that when you get redirected to the Auth0 login page, ASP.NET sends a `state` parameter as part of the URL. In the callback, you receive the sa

[2018-06-14 04:45] jerriep commented on #35
@kinetiq I would also suggest you turn on **very detailed** logging for your ASP.NET Core app and see whether anything in the logs point out the possible culprit.

Also, have you asked on https://github.com/aspnet/security regarding this?

[2018-06-14 04:52] jerriep commented on #35
Also, have a look at the [Data Protection configuration docs](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-2.1&tabs=aspnetcore2x). My suspicion is that the cause of this has something to do with the data protection APIs not being able to work with that `state` parameter correctly

[2018-06-14 13:30] kinetiq commented on #35
@BrianVallelunga I'm wondering what your hosting situation is... I'm using an Azure App Service.  You don't happen to be on that as well, do you?

[2018-06-14 13:32] kinetiq commented on #35
@jerriep  I have not asked over there yet, that's a good idea.  I will turn on the more detailed logging and see if that surfaces anything :)

[2018-06-14 13:32] aaguiarz commented on #35
@kinetiq the 'Last Logged In With' is a Lock feature, but I wonder what triggers it. You need to redirect to the Auth0 login page in order for it to be displayed, right? How do you land in that page after some time of inactivity?

The HAR file of a successful login could help, yes :).

Thanks

[2018-06-14 14:14] kinetiq commented on #35
@aaguiarz This zip contains both the working and non-working HAR files, for anyone who might benefit from them.

[HARs.zip](https://github.com/auth0-samples/auth0-aspnetcore-mvc-samples/files/2102550/HARs.zip)

To your question about what redirects to Lock after inactivity... I've just been through my project, and this redirect is likely happening in the HomeController's index action, where I have

[2018-06-14 17:48] aaguiarz commented on #35
@kinetiq The HAR did not help much.

If the code in `Index()` is executed is because the page was refreshed, right? How does that happen?

In any case, if the page is refreshed and the user is not authenticated (I assume because the ASP.NET session is set to a shorter period of time), then it should redirect to the Auth0 login page.

[2018-06-14 18:33] kinetiq commented on #35
@aaguiarz It happens if I'm logged in, then I close my browser. The next day, I open the browser and type in my domain name.

HomeController/Index runs in that case, and because the user is not authenticated, you can see in the code above that they are redirected to Login/Index, which invokes Lock by calling HttpContext.ChallengeAsync(..). This, for whatever reason, sometimes results in the option

[2018-06-14 23:41] jerriep commented on #35
I cannot see that that would make *any* difference. I do not think that is the issue.

[2018-08-13 23:18] rafanog opened #42 "Certified is expired"
When executing the sample code, is shown that the certified is currently expired:

![image](https://user-images.githubusercontent.com/15782359/44063194-0505dc72-9f36-11e8-9eed-8d17ddf82621.png)

[2018-08-13 23:57] jerriep commented on #42
Please see https://www.hanselman.com/blog/DevelopingLocallyWithASPNETCoreUnderHTTPSSSLAndSelfSignedCerts.aspx

[2018-08-13 23:57] #42 closed

[2018-12-07 17:12] nicosabena opened #45 "Document and provide workaround for WebKit issues"
WebKit in OS X Mojave and iOS 12 does not play well with cookies when using the default flow in the OpenIdConnect middleware (of `response_mode=form_post`), as the session cookie generated by the cookie middleware is not sent back to the application after is set.
This is documented here:
https://community.auth0.com/t/authentication-broken-on-asp-net-core-and-safari-on-ios-12-mojave/16077/2

Workar

[2018-12-07 17:20] pixelport commented on #45
Thanks for taking care of this.
Note: Your workaround seems to lead to a redirect loop on Safari in OS X Mojave. Others seem to have the same problem: https://bugs.webkit.org/show_bug.cgi?id=188165#c22

[2018-12-07 17:31] nicosabena commented on #45
Hi @pixelport . I wasn't able to see an issue with using the above workaround, but I'll keep trying. If you can provide a minimum reproducible sample or a .HAR file, that'd be great.

[2018-12-14 23:14] nicosabena commented on #45
@pixelport I finally found out that the WebKit issue persists even if preventing `response_mode=form_post` when there's a POST in the authentication flow (like sending credentials to the identity provider).
I wrote about a new workaround at https://community.auth0.com/t/authentication-broken-on-asp-net-core-and-safari-on-ios-12-mojave-take-2/19104

[2018-12-26 11:47] nicosabena opened #46 "Add code showing how to handle remote auth errors"
Show how to make a basic error handler for a better user experience when the correlation id is not found or is expired:

[code]

This could probably be made even more generic to handle all possible errors.

[2018-12-26 15:46] kinetiq commented on #46
For what it's worth, just tested this and it works great.  This problem has been bugging me for months, so this is fantastic.

[2019-06-24 13:46] #45 closed

[2019-06-24 13:47] #46 closed

[2020-01-26 02:54] SeanKilleen opened #52 "Update sample to .NET Core v3.1?"
Hi all,

On the quickstart page for .NET Core MVC Login:

When I click the download link, I receive a file called `aspnet-core-3-01-login.zip`.

However, the project that is generated appears to target `netcoreapp2.1`.

I'm going to fork & do a PR real quick because I think we'll be able to make quick work of it.

However, wanted to start this issue as a heads up / discussion so you can talk me do

[2020-01-27 16:40] damieng commented on #52
Thanks for fixing this! #53

[2020-01-27 16:40] #52 closed

[2020-02-24 14:43] woeterman94 opened #57 "Roles in ID token?"
Why are the roles in the id token?

`  auth0.users.updateAppMetadata(user.user_id, user.app_metadata)
    .then(function() {
      context.idToken['https://schemas.quickstarts.com/roles'] = user.app_metadata.roles;
      callback(null, user, context);
    })`

I thought we were supposed to send an access_token to the api?

[2020-03-11 20:56] aparent-emgs commented on #35
@kinetiq Sorry to bring this back up, but did you ever solve this issue? I'm having similar problems, also only in Chrome.

[2020-03-11 21:58] kinetiq commented on #35
@aparent-emgs Okay, if I recall correctly this issue is actually caused by a stale login page. That can happen in two ways, one of which is sneaky and eluded me for awhile:

- Letting the login page sit there for too long before logging in
- Using the back button or bookmarks to get to a cached login page

Once I fully understood the problem, which took quite some time, I added this to my auth0 co

[2020-03-11 22:09] aparent-emgs commented on #35
Thanks a lot for the answer!

I actually found my specific problem a little after posting here, and it's unrelated. I'll post it here in case somebody stumbles across this thread:

https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/

Basically it seems Chrome is changing the standard of the "SameSite" property of cookies to enforce it to be set to "L

[2020-03-11 22:11] kinetiq commented on #35
Wow, what version of Chrome are you seeing this on?

I do know SameSite changes are coming down the pipe, but I thought that was all somehow handled at the API level.

[2020-03-11 22:15] aparent-emgs commented on #35
I'm using Version 80.0.3987.132. The article says it was scheduled to be released in version 80, which came out recently in the last weeks, I think.

But yea, it could also be I should just update the version of AspNetCore I use. I might try that, now that I think of it. Hadn't thought of that being a possible fix... eheh

[2020-03-12 15:31] aparent-emgs commented on #35
An important detail I omitted though, I was only getting my issue when testing locally on my machine with everything hosted under http://localhost. It didn't happen when I had the application hosted elsewhere.

[2020-03-17 13:08] kinetiq commented on #35
@aparent-emgs  Well guess what? Today I'm getting Correlation Failed on my dev machine, and I can't do any work in Chrome. Firefox works. I have a ticket open with Auth0. Any workaround yet?

[2020-03-17 13:13] aparent-emgs commented on #35
I fixed mine right now by disabling #same-site-by-default-cookies in chrome://flags

[2020-03-17 14:14] kinetiq commented on #35
@aparent-emgs Cool. Well, I've got a ticket open with Auth0 and I referenced this convo. Let's see what they say.

[2020-03-17 15:20] #57 closed

[2020-03-24 00:21] The-Running-Dev commented on #35
So this is what fixed it for me when running over HTTPs.

in ConfigureServices
[code]

then in AddOpenIdConnect, set the same site the same as own cookie.
[code]

And finally, UseCookiePolicty() before UseCookiePolicy():
[code]

[2020-03-24 14:17] kinetiq commented on #35
@The-Running-Dev  Thanks for the  heads up on that possible solution! I'm going to make sure the Auth0 people see this.

[2020-08-19 18:23] kinetiq commented on #35
One dev on my team had a flare-up of this project today, again, only on Chrome. We changed our dev environment to use SSL, which is quite easy now, and that knocked it out with no problem.

-

[2022-10-06 14:10] EspenBrun opened #75 "Login causes System.InvalidOperationException: IDX20803: Unable to obtain configuration from: 'System.String'."
Hi,

I changed the appsettings.json like requested, and the application is running fine at localhost:3000. When i click login I get an obscure error message:
[code]

[2022-10-06 18:46] frederikprijck commented on #75
What did you put as value for the domain?

[2022-10-07 04:55] EspenBrun commented on #75
Not sure if I should post it in cleartext here, but is has the form

`"Domain": "https://dev-xxxxxx.us.auth0.com/",`

[2022-10-07 10:30] frederikprijck commented on #75
Can you try dropping the HTTPS:// and the trailing slash?

[2022-10-27 07:06] EspenBrun commented on #75
Thanks that worked!

[2022-10-27 07:06] #75 closed